<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Search movies and view thier descriptions. Then save the movies to look at again later" />
    <meta name="keywords" content="Movies, database, favorite, Entertainment" />
    <meta name="author" content="Ikemous, Sam, Robert" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- End Meta Data -->
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> --}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" 
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="/js/moviePage.js"></script>

    <title>Movie Lover</title>

</head>
<body>
    <nav class="navbar navbar-dark bg-light">
      <h1 class="navbar-brand">Movie Lover</h1>
      <a href="/logout">Logout</a>
    </nav>

    {{{body}}}

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Why Are You Saving?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form>
              <textarea id="reason" placeholder="Why is this being added to favorites?"></textarea>
          </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" id="saveBtn" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>

<!-- The Modal -->
  <div class="modal" id="showReason">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Reason Saved</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form>
              <textarea id="savedReason"></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-id="" id="updateBtn" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Footer Here
        </div>
    </footer>
</body>
</html>