<div class="container">
    <div class="row justify-content-center">
        <h1>Movie Database</h1>
    </div>
    <div class="form-group row">
        <div class="col-md-10">
            <input type="text" class="form-control" id="search" placeholder="Search for a movie" />
        </div>
        <div class="col-sm-2">
            <button type="submit" id="searchBtn" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="row">
        {{!-- Row To append Movie Card --}}
        <div class="col-md-7" id="resultRow">
        </div>
        {{!-- End row to append Movie Card --}}
        {{!-- Area To Insert Favorite Movies --}}
        <div class="col-md-5">
            <h1>Favorites:</h1>
            <table class="table table-responsive">
                <ul>
                    {{#each movies}}
                    <li>
                        <p>Title: {{this.title}}</p>
                        <p>Year Released: {{this.year}}</p>
                        <p>Rating: {{this.rating}}</p>
                        <button class="deleteBtn" data-id={{this.id}}>Delete</button> 
                    </li>
                    {{/each}}
                </ul>
            </table>
        </div>
        {{!-- End Area To Insert Favorite Movies --}}
    </div>
</div>
