form.signup,
form.login {
  margin-top: 50px;
}

html {
  position: relative;
  min-height: 100%;
}

.list-group{
  color: black;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: URL('/images/movie-theater.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.modal-title{
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}
.navbar {
  background-image: url('/images/movie-theater.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.login, .signup {
  color: white;
}

/* work on the displayed lists */

.favoritesList {
color: black;
font-size: large;
position: relative;
left: 150px;
}

.favoritesText {
  text-align: center;
  color: white;
}

.favoritesTitle {
  text-align: center;
  font-size: larger;
}

.deleteBtn {
  margin-top: 1px;
  margin-bottom: 50px;
}
.cardButton {
  margin-bottom: 25px;
}

.reason {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-github {
  font-size: 24px;
}